:root {
  --font: Inter;
  --green: #00b285;
  --green-active: #22d4a7;
  --dark: #222222;
  --grey: #c9c9c9;
  --dark-grey: #363636;
  --accent: #ffc165;
  --soft-accent: #cec7a6;
  --white: #ffffff;
}
